<h1>Edit The Lesson</h1>
<h2><%= @lesson.name %></h2>

<% if @lesson.errors.any? %>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons/<%= @lesson.id %>" method='post' id='edit_form'>
  <input name='_method' value='patch' type='hidden'>
  <label for='lesson_name'>Edit Name</label>
  <label for='lesson_number'>Number</label>
  <input id='lesson_number' name='lesson[number]' type='text' value='<%= @lesson.number %>'>
  <input id='lesson_name' name='lesson[name]' type='text' value='<%= @lesson.name %>'>
  <button>Edit Lesson</button>
</form>
<br />
<textarea name='lesson[content]' form='edit_form'></textarea>

<br />
<p><a href="/lessons/<%= @lesson.id %>">Return to lesson</a></p>
<p><a href="/lessons">Return to main menu</a></p>
