<h1>Add A New Lesson</h1>

<% if @lesson.errors.any? %>
<h3>Please fix these errors:</h3>
  <ul>
  <% @lesson.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  </ul>
<% end %>

<select name='section[section_id]' form='new_lesson'>
  <option value=''>Please select a section:</option>
  <% @section.each do |section| %>
    <option value='<%= section.id %>'><%= section.name %></option>
  <% end %>
</select>


<form action="/lessons" method='post' id='new_lesson'>
  <label for='lesson_name'>Lesson Name</label>
  <input id='lesson_name' name='lesson[name]' type='text' value='<%= @lesson.name %>'>
  <label for='lesson_number'>Number</label>
  <input id='lesson_number' name='lesson[number]' type='text' value='<%= @lesson.number %>'>
  <button>Add the lesson</button>
</form>
<br />
<textarea name='lesson[content]' form='new_lesson'></textarea>

<br />
<p>Return to <a href="/lessons">main menu</a></p>
